                /* Shared CSS */

* {
    transition: all .5s;
}

body > header {
    border-bottom: 7px double;
    height: 75px;
}

body {
    font-family: Helvetica, 'Segoe UI', Verdana, system-ui;
    font-size: 16px;
    transition: none;
}

button {
    cursor: pointer;
}

h1 {
    display: inline-block;
    margin: 20px 0px 20px 40px;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

h2, h3, label {
    font-family: Arial, Calibri, sans-serif;
    font-size: 150%;
}

#theme-button {
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 20px;
    border-radius: 15px;
    font-size: 20px;
}

header {
    border-bottom: 1px solid;
    padding: 5px;
    min-height: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;
}

main {
    min-height: calc(100vh - 160px);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 150%;
    padding: 0 20%;
    border-top: 7px double;
}

footer a {
    font-family: 'Franklin Gothic Medium', Calibri, sans-serif;
}

/* Light and Dark Modes */

.light {
    background-color: white;
    border-color: black;
    color: black; 
}

.light button {
    background-color: #222222;
    color: white;
    border-color: white;
}

#theme-button::after {
    position: absolute;
    content: '\1F31E';
    bottom: 1px;
    right: 0px;
}

.dark {
    background-color: black;
    border-color: white;
    color: white;
}

.dark a {
    color: white;
}

.dark input, .dark textarea {
    background-color: #111111;
    border-color: white;
    color: white;
}

.dark #theme-button::after {
    position: absolute;
    content: '\1F31C';
    bottom: 1px;
    right: 1px;
}